:root {
    --main-color: #044D80;
    --main-color-2: #1489DD;
    --main-color-3: #272D33;
    --primary-color: #39364e;
    --secondary-color: #696969;
    --thirdly-color: white;
    --border-color: #1188dd26;
    --transition: 0.4s;
    --main-padding: 60px;
}

h3 {
    color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
}

.main-heading {
    font-size: 34px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--main-color-3);
}

.main-heading::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: var(--main-color-2);
    z-index: 2;
}

.main-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 200px;
    background-color: #dadada;
}

.main-sub-heading {
    max-width: 80%;
    font-size: 16px;
    margin: 0 auto 60px;
}

/* Start Hero Section */

#hero {
    height: 100vh;
}

#hero .carousel-item {
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-height: 100%;
}

#hero .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
}

#hero img {
    height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(128, 128, 128, 0.611);
    background-size: 27px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

#hero .info-content {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    color: white;
    z-index: 9;
}

/* End Hero Section */

/* Start What We Provide Section */

#whatWeProvide {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    z-index: 2;
}

#whatWeProvide .box {
    background-color: white;
    border: 1px solid #eee;
    padding: 20px 10px;
    height: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    cursor: pointer;
}

#whatWeProvide .box:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
    z-index: 2;
    background-color: var(--main-color-2);
}

#whatWeProvide .box .image {
    width: 64px;
    aspect-ratio: 1/1;
}

#whatWeProvide .box span {
    color: var(--primary-color);
}

#whatWeProvide .box:hover span {
    color: white;
}

#whatWeProvide .box p {
    color: var(--secondary-color);
}

#whatWeProvide .box:hover p {
    color: white;
}

/* End What We Provide Section */

/* Start whoWeAre Section */

#whoWeAre {
    background-color: #EEF7FD;
    padding-bottom: var(--main-padding);
    padding-top: 250px;
    position: relative;
    top: -200px;
}

#whoWeAre .box h2 {
    color: var(--primary-color);
}

#whoWeAre .box strong {
    color: var(--primary-color);
}

#whoWeAre .box p {
    color: var(--secondary-color);
}

#whoWeAre .box button a {
    color: var(--thirdly-color);
}

#whoWeAre .box .image {
    position: relative;
    max-height: 513px;
    overflow: hidden;
}

#whoWeAre .box .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    z-index: 2;
}

#whoWeAre .box .image img {
    height: 100% !important;
}

/* End whoWeAre Section */

/* Start ts-features Section */
#ts-features {
    padding-bottom: var(--main-padding);
}

#ts-features .intro-feature .image-box {
    position: relative;
}

#ts-features .intro-feature .img-box-small {
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    z-index: 9;
    background-color: var(--main-color-2);
    color: var(--thirdly-color);
    padding: 10px;
    width: 130px;
    text-align: center;
    font-weight: 700;
    border: 8px solid #eee;
    margin: auto;
    text-transform: uppercase;
}

#ts-features .intro-feature .img-box figure {
    width: 200px;
}

#ts-features .intro-feature .img-box figure:nth-of-type(1) {
    margin-left: 20px;
}

#ts-features .intro-feature .img-box figure:not(:nth-of-type(2)) {
    border: 8px solid #eee;
}

#ts-features .intro-feature .img-box figure:nth-of-type(2) {
    border: 8px solid #eee;
    border-left: 0;
    border-right: 0;
}

#ts-features .intro-feature .img-box figure img {
    height: 100%;
}

#ts-features .featured-tab .nav-tabs li {
    background-color: var(--main-color-3);
    position: relative;
}

#ts-features .featured-tab .nav-tabs li.active {
    background-color: var(--main-color-2);
}

#ts-features .featured-tab .nav-tabs li.active:before {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: var(--main-color-2) transparent transparent transparent;
}

#ts-features .featured-tab .nav-tabs li:nth-of-type(2) {
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
}

#ts-features .featured-tab .nav-tabs .tab-text-title {
    color: var(--thirdly-color);
    font-weight: 700;
    text-transform: uppercase;
}

#ts-features .featured-tab .ts-service-box .ts-service-icon {
    display: flex;
}

#ts-features .featured-tab .ts-service-box .ts-service-icon i {
    width: 60px;
    height: 60px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--main-color-2);
    color: white;
}

#ts-features .featured-tab .ts-service-box h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 15px;
}

#ts-features .featured-tab .safety {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* End ts-features Section */

/* Start Facts Section */

#facts {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../Images/home/facts-images/parallax1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #000000bf;
    background-blend-mode: overlay;
    background-attachment: fixed;

}

#facts .fact-image {
    width: 64px;
    height: 64px;
}

#facts .fact-image img {
    width: 100%;
    color: red;
}

#facts .fact-content {
    display: flex;
    margin: 20px 0 0;
    gap: 10px;
}

#facts .fact-content h2 {
    font-size: 44px;
    font-weight: 700;
    color: var(--thirdly-color);
}

#facts .fact-content h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color-2);
    margin: 0 0 0 10px;
    align-self: flex-end;
}

/* End Facts Section */

/* Start ts-service-area Section */

#ts-service-area {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

#ts-service-area .ts-service-box {
    display: flex;
    gap: 5px;
}

#ts-service-area .service-box-title {
    font-size: 18px;
    font-weight: 700;
}

#ts-service-area .ts-service-box p {
    font-size: 15px;
}

#ts-service-area .service-center-img {
    max-width: 350px;
}

/* End ts-service-area Section */

/* Start project-area Section */

#project-area {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-color-3);
}

#project-area .title {
    color: var(--thirdly-color);
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 32px;
    font-weight: 700;
}

#project-area li {
    font-size: 14px;
    color: var(--thirdly-color);
    position: relative;
    cursor: pointer;
}

#project-area li.active::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--main-color-2);
}

#project-area .projects-wrapper {
    margin: 30px 0 0;
    max-width: 100%;
    width: 100%;
}

#project-area .projects-wrapper .project-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#project-area .projects-wrapper .project-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #00000071;
    z-index: 1;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    opacity: 0;
}

#project-area .projects-wrapper .project-item:hover::before {
    left: 0;
    opacity: 1;
}

#project-area .projects-wrapper .project-item-info-content {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    left: 20%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    opacity: 0;
    z-index: 2;
}

#project-area .projects-wrapper .project-item:hover>.project-item-info-content {
    top: 50%;
    opacity: 1;
}

#project-area .projects-wrapper .project-item .image {
    overflow: hidden;
}

#project-area .projects-wrapper .project-item .image img {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#project-area .projects-wrapper .project-item:hover img {
    transform: scale(1.2) rotate(5deg);
}

#project-area .projects-wrapper .project-item-info-content p {
    font-size: 18px;
    font-weight: 700;
    color: var(--thirdly-color);
}

#project-area .projects-wrapper .project-item-info-content span {
    display: block;
    color: var(--thirdly-color);
    background-color: var(--main-color-2);
    padding: 4px 6px;
    font-size: 12px;
    width: fit-content;
    margin-top: 15px;
}

#project-area .view-all-projects-btn {
    width: fit-content;
    margin: 30px auto 0;
    padding: 10px;
    color: var(--thirdly-color);
    background-color: var(--main-color-2);
    font-weight: 700;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

#project-area .view-all-projects-btn:hover {
    background-color: var(--main-color);
}

/* End project-area Section */